# Environment
/backend/.env
/backend/.env.local
/backend/.env.*.local

# Backend
/backend/vendor/
/backend/var/
/backend/public/build/

# Frontend
/frontend/node_modules/
/frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
